<div ng-init="Home.init()" id="home-scroll-context">
    <!-- Intro Header -->
    <header class="masthead" set-height>
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading">Simone & Stefania</h1>
                        <p class="intro-text">
                            Vi aspettano per festeggiare il loro Matrimonio!<br/>Il giorno 25 Maggio al Maklas, presso la spiaggia di Cala Sinzias
                        </p>
                        <a du-smooth-scroll du-scrollspy offset="30" href="#lista" class="btn btn-circle js-scroll-trigger">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="lista" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1>Honeymoon</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 mx-auto">
                    <img class="wedding-logo" src="img/wedding-logo.png">
                </div>
                <div class="col-lg-4 mx-auto">
                    <p class="italic" style="text-align:left">
                        Se volete contribuire alla nostra
                        <span class="highlight">luna di miele in Tanzania</span>, potete farlo facendo un bonifico bancario sul conto:
                    </p>
                    <div class="iban">
                        <table>
                            <tr>
                                <td>INTESTATARI:</td>
                                <td>Stefania Sanna / Simone Tallevi-Diotallevi</td>
                            </tr>
                            <tr>
                                <td>IBAN:</td>
                                <td>IT41T0558401795000000070237</td>
                            </tr>
                            <tr>
                                <td>BIC/SWIFT:</td>
                                <td>BPMIITMMXXX</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="location" class="content-section text-center">
        <div id="map" google-map></div>

        <div class="container" style="padding-top: 50px;">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1>Location</h1>
                    <p>
                        <a target="_blank" href="https://www.google.it/maps/place/Maklas/@39.2018075,9.5634451,15z/data=!4m5!3m4!1s0x0:0xa374f950792d396a!8m2!3d39.2018075!4d9.5634451">
                            <span style="font-weight: 700;">Maklas</span> - <span>loc. S.  Pietro - Castiadas (spiaggia di Cala Sinzias)</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="accommodations" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1>Accommodations</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <p>Di seguito trovate alcuni alberghi in zona:</p>
                </div>
            </div>
            <div class="row hotel">
                <div style="margin: auto; padding:20px;">
                    <img width="360px" src="https://media-cdn.tripadvisor.com/media/photo-s/0c/98/0b/ce/hotel-regina-simius.jpg">
                </div>
                <div style="width:360px; margin: auto;">
                    <h2>Hotel Regina Simius</h2>
                    <p><a href="https://www.google.it/maps/place/Hotel+Regina+Simius/@39.1444398,9.5185202,17z/data=!3m1!4b1!4m5!3m4!1s0x12e0c25dcf2b2011:0x1fe4e495ce49a01a!8m2!3d39.1444398!4d9.5207089">
                        Via Regina Elena, 34, 09049 Villasimius CA </a><br/><a href="http://hotelreginasimius.it">hotelreginasimius.it</a></p>
                </div>
            </div>
            <div class="row hotel">
                <div style="margin: auto; padding:20px;">
                    <img width="360px" src="http://www.aroundfamily.it/images/strutture/sardegna/cagliari/corte-dei-rei-residence-castiadas/corte-dei-rei-residence-castiadas-vista-dallalto.jpg">
                </div>
                <div style="width:360px; margin: auto;">
                    <h2>La Corte dei Rei</h2>
                    <p><a href="https://www.google.it/maps/place/La+Corte+dei+Rei/@39.2617939,9.5226601,15z/data=!4m5!3m4!1s0x0:0x7918fc7b51b05abb!8m2!3d39.2617939!4d9.5226601?sa=X&ved=0ahUKEwjYiJXNi-fYAhUKyaQKHa-GBHoQ_BIIhwEwCg">
                        Masone Pardu, 09040 Castiadas CA</a> <br/><a href="http://www.residencecastiadas.it/">www.residencecastiadas.it</a></p>
                </div>
            </div>
            <div class="row hotel">
                <div style="margin: auto; padding:20px;">
                    <img width="360px" src="https://www.icastelli.net/photo/images/spiagge-sanpietro-hotel-resort_1000_560_1053_1426848951.jpg">
                </div>
                <div style="width:360px; margin: auto;">
                    <h2>Le Spiagge di San Pietro Resort</h2>
                    <p><a href="https://www.google.it/maps/place/Le+Spiagge+di+San+Pietro+Resort/@39.203393,9.559907,15z/data=!4m5!3m4!1s0x0:0xe72faa26544903ef!8m2!3d39.203393!4d9.559907?sa=X&ved=0ahUKEwjGvtyFj-fYAhWC_KQKHb9SDFUQ_BIIkgEwCg">
                        Loc. San Pietro Marina S.P. 18, 09040 Castiadas CA</a> <br/><a href="http://www.spiaggesanpietro.it/">www.spiaggesanpietro.it</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <!--section id="social" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Social</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <p>Posta qui la tua foto!</p>
                </div>
            </div>
        </div>
    </section-->
</div>