<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

    <!-- AUTH -->

    <servlet>
        <servlet-name>CommentsServlet</servlet-name>
        <servlet-class>it.simostefi.wedding.servlet.CommentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommentsServlet</servlet-name>
        <url-pattern>/servlet/comments</url-pattern>
    </servlet-mapping>

    <!-- AUTH -->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>all</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>test</web-resource-name>
            <url-pattern>/test.jsp</url-pattern>
        </web-resource-collection>
    </security-constraint>

</web-app>